<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body class="use-custom-scrollbar">
    <header>
        <div class="app-logo-container">
            <img src="../resources/images/flashcardy_light.svg" alt="application-logo" aria-label="application-logo" id="app-logo">
        </div>
        <ul id="languages">
            <li><a href="#">pl &ensp; 🇵🇱</a></li>
            <li><a href="#">en &ensp; 🇬🇧</a></li>
        </ul>
    </header>
    <main>
        <div id="container-1" class="flexify flexify-align-items--center flexify-justify-content--evenly">
            <section>
                <section>
                    <h1 class="set-outline--dark">Why should I use flashcards?</h1>
                    <p class="change-color-light--dark">When used correctly, flash cards allow students to interact with information in a way that makes it easier to retain. 
                        Flash cards are strategically designed to enhance and encourage active recall. The format, usually a question on one 
                        side of the card and the answer on the other, requires learners to look at one side and recall the information from 
                        the other side.</p>
                </section>
                <section>
                    <h1 class="set-outline--dark">Preparing flashcards can be cumbersome</h1>
                    <p class="change-color-light--dark">Playing and learning with flashcards is great, but preparing all these flashcards, cutting them out of the paper 
                        might be tedious and non-environmental friendly (paper usage). Using digital version of flashcards is different. 
                        It is easy to create, edit and getting rid of unwanted flashcard without leaving any footprint. Further more, 
                        you can explore flashcards that has been published by other students from different areas, which have helped 
                        them grasp some specific subjects.</p>
                </section>
                <section>
                    <h1 class="set-outline--dark">Our flashcards are super simple but powerful</h1>
                    <p class="change-color-light--dark">Playing and learning with flashcards is great, but preparing all these flashcards, cutting them out of the paper 
                        might be tedious and non-environmental friendly (paper usage). Using digital version of flashcards is different. 
                        It is easy to create, edit and getting rid of unwanted flashcard without leaving any footprint. Further more, 
                        you can explore flashcards that has been published by other students from different areas, which have helped 
                        them grasp some specific subjects.</p>
                </section>
            </section>
    
            <section>
                <section>
                    <h1 class="set-outline--dark">Join us today!</h1>
                    <p class="change-color-light--dark">Together we can accelerate learning process and build a great, transparent and helpful community!</p>
    
                    <form action="#" class="form">
                        <p class="form__introduction change-appearance--light">
                            Hey stranger. My name is Mateusz and I am the creator of this 
                            such a simple but helpful application. First and foremost, I would
                            like to get to know you closer. Please, tell me your name.
                        </p>
    
                        <div class="form__entry">
                            <input type="text" placeholder="Your name eg. Kate">
                        </div>
    
                        <div class="form__entry">
                            <input type="email" placeholder="Your email eg. john@doe.com">
                        </div>
    
                        <div class="form__entry">
                            <input type="password" placeholder="Your strong password">
                        </div>
                        
                        <div class="form__element">
                            <button type="submit">let's start</button>
                        </div>
    
                        <footer>
                            <p class="change-appearance--light">By joining our application, You accept our <a href="">privacy policy</a>.</p>
                        </footer>
                    </form>
                </section>
    
                <section>
                    <h1 class="set-outline--dark">How about a quick dry run?</h1>
                    <button>PREVIEW FLASHCARDS</button>
                </section>
            </section>
        </div>

        <div id="container-2">
            <section class="hiden-but-revealed extended">
                <h1 class="set-outline--dark margins-auto">Preview our student's flashcards</h1>
            </section>
        </div>
    </main>
</body>
<script src="../resources/js/welcome-min.js"></script>
</html>