@import "./env";

nav#top-nav {
    width: 100%;
    height: $nav-height;
    position: fixed;
    z-index: 99;
    transition: opacity .5s ease-in-out;

    &.better-visible {
        background-color: #fff;
        opacity: .9;
        border-bottom: 1px solid var(--color-light-grey);
    }
}

main {
    padding: 4em;
    padding-top: $nav-height;
    min-height: $main-min-height;;
}

#container-1 {
    height: $main-min-height;
}

.container-n {
    height: 100vh;
}

.container-n {
    height: 100vh;
}

#container-2 {
    height: 100vh;
}

section {
    padding: 0 1em;
    h1, h2, h3, h4, h5 ,h6 {
        margin-bottom: .5em;
    }
    
    max-width: 700px;
    margin-bottom: 2em;
}

section {
    &.half-width {
        width: 50%;
        max-width: 50%;
    }
}

section {
    &.hidden-but-revealed {
        opacity: 0;
    }

    &.extended {
        max-width: 100%;
    }

    &.max-content-width {
        max-width: max-content;
    }
}

section {
    &.half-section {
        width: 50%;
    }
}

.app-logo-container {
    #app-logo {
        width: 200px;
    }
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}