.flexify {
    display: flex;
}

.flexify-align-items--center {
    align-items: center;
}

.flexify-justify-content--evenly {
    justify-content: space-evenly;
}

.flexify-shrinkless {
    flex-shrink: 0;
}

.flexify-columnar {
    flex-flow: column nowrap;
}