ul {
    &#languages {
        li {
            display: inline-block;
            padding: 0 1em;

            a {
                text-decoration: none;

                &:link {
                    color: var(--color-lighter-black);
                }
            
                &:active {
                    color: var(--color-lighter-black);
                }
            
                &:hover, &:focus {
                    color: var(--color-violet-one);
                    cursor: pointer;
                }
            
                &:visited {
                    color: var(--color-lighter-black);
                }
            }
        }

        width: max-content;
        position: absolute;
        top: 50%;
        right: 2em;
        transform: translateY(-50%);
        right: 2em;
    }

    &.tags {
        li {
            @keyframes animate-gradient-background {
                0% {
                    background-position: 0, 0;
                }
                25% {
                    background-position: 20%, 20%;
                }
                50% {
                    background-position: 50% 50%;
                }
                75% {
                    background-position: 20%, 20%;
                }
                100% {
                    background-position: 0, 0;
                }
            }

            &:hover {
                background: var(--color-light-gold);
                cursor: pointer;
                animation: unset;
            }

            display: inline-block;
            background: linear-gradient(-45deg, var(--color-gold), var(--color-light-gold), var(--color-gold), var(--color-light-gold));
            background-size: 400% 400%;
            background-clip: padding-box;
            color: var(--color-lighter-black);
            padding: .35em .7em;
            border-radius: 8px;
            margin-right: 1em;
            animation: animate-gradient-background 4s ease infinite;
        }
    }

    &.flashcard-examples {
        color: var(--color-lighter-black);
        font-style: italic;
        font-weight: 300;
        letter-spacing: .025em;

        li.example {
            // &::after {
            //     content: "";
            //     display: block;
            //     position: absolute;
            //     bottom: 0;
            //     width: 100%;
            //     border: .5px solid var(--color-light-grey)
            // }

            // position: ;
            padding-bottom: 1em;
            border-bottom: 1px solid var(--color-light-grey);
            margin-bottom: 1em;
        }
    }

    list-style: none;
}