h1, h2, h3, h4, h5, h6 {
    &.set-outline--dark {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-lighter-black);
    }
    &.set-gradient-text-1 {
        background: linear-gradient(-45deg, #724cf9, #B4436C, #5DD39E,  #724cf9, #B4436C, #5DD39E);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
    }
    &.center-content {
        text-align: center;
    }
    max-width: max-content;
}

h1 {
    font-size: 2em;
}

p {
    &.change-color-lighter-black {
        color: var(--color-dark-black);
    }

    &.change-appearance--light {
        font-weight: 300;
    }

    &.set-font-size-medium-root-rel {
        font-size: 1.25rem;
    }

    letter-spacing: .09em;
    line-height: 1.5em;
}