@import "./reset";

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "Hurme-2", sans-serif;
}

@import "./env";
@import "./typo";
@import "./blocks";
@import "./flex";
@import "./features";
@import "./simple_animations";
@import "./forms";
@import "./layout";
@import "./lists";
@import "./controls";
@import "./links";
@import "./flashcards";
@import "./galleries";
@import "./images";