@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, blockquote header,
nav, main, section, article,
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Lato", sans-serif;
}

:root {
  --color-lighter-black: #707070;
  --color-dark-black: #2B2D42;
  --color-light-grey: #dee2e6;
  --color-violet-one: #a06cd5;
  --color-light-gold: #F6E7CB;
  --color-gold: #eed3a0;
  --color-light-smoke-white: #f8f9fa;
  --color-violet-last: #3C096C;
}

h1, h2, h3, h4, h5, h6 {
  max-width: max-content;
}
h1.set-outline--dark, h2.set-outline--dark, h3.set-outline--dark, h4.set-outline--dark, h5.set-outline--dark, h6.set-outline--dark {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-lighter-black);
}
h1.center-content, h2.center-content, h3.center-content, h4.center-content, h5.center-content, h6.center-content {
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  letter-spacing: 0.09em;
  line-height: 1.5em;
}
p.change-color-lighter-black {
  color: var(--color-dark-black);
}
p.change-appearance--light {
  font-weight: 300;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 99;
  transition: opacity 0.5s ease-in-out;
}
header.better-visible {
  background-color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid var(--color-light-grey);
}

main {
  padding: 2em;
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

#container-1 {
  height: calc(100vh - 50px);
}

#container-2 {
  height: 100vh;
}

section {
  padding: 0 1em;
  max-width: 700px;
  margin-bottom: 2em;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  margin-bottom: 0.5em;
}

section.hiden-but-revealed {
  opacity: 0;
}
section.extended {
  max-width: 100%;
}

section.half-section {
  width: 50%;
}

.app-logo-container {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-logo-container #app-logo {
  width: 200px;
}

.flexify {
  display: flex;
}

.flexify-align-items--center {
  align-items: center;
}

.flexify-justify-content--evenly {
  justify-content: space-evenly;
}

.use-custom-scrollbar::-webkit-scrollbar {
  width: 1px;
  color: var(--color-violet-one);
  background-color: var(--color-light-grey);
}

.use-custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(142, 148, 242, 0.75) var(--color-light-grey);
}

.hide-content {
  opacity: 0;
  animation: hide-content 0.5s 0.125s ease-out forwards;
}
@keyframes hide-content {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.reveal-content {
  animation: reveal-content 0.5s 0.125s ease-in forwards;
}
@keyframes reveal-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form {
  padding: 1em 0;
  max-width: 700px;
  box-sizing: border-box;
}
.form .form__introduction {
  margin-bottom: 1em;
}
.form .form__entry {
  position: relative;
}
.form .form__entry input[type=email],
.form .form__entry input[type=text],
.form .form__entry input[type=password] {
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0 0.5em;
  font-size: 1em;
  margin-bottom: 2em;
}
.form .form__entry::after {
  content: "";
  width: 100%;
  height: 0;
  border: 0.5px solid var(--color-violet-one);
  position: absolute;
  top: 40px;
}
.form .form__element {
  margin-bottom: 2em;
}

.form-v2 .form__entry {
  position: relative;
}
.form-v2 .form__entry input[type=email],
.form-v2 .form__entry input[type=text],
.form-v2 .form__entry input[type=password] {
  width: 100%;
  height: 45px;
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  padding: 0 0.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

.center-by-margins {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}
ul#languages {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  right: 2em;
}
ul#languages li {
  display: inline-block;
  padding: 0 1em;
}
ul#languages li a {
  text-decoration: none;
}
ul#languages li a:link {
  color: var(--color-lighter-black);
}
ul#languages li a:active {
  color: var(--color-lighter-black);
}
ul#languages li a:hover, ul#languages li a:focus {
  color: var(--color-violet-one);
  cursor: pointer;
}
ul#languages li a:visited {
  color: var(--color-lighter-black);
}
ul#tags li {
  display: inline-block;
  background: linear-gradient(-45deg, var(--color-gold), var(--color-light-gold), var(--color-gold), var(--color-light-gold));
  background-size: 400% 400%;
  background-clip: padding-box;
  color: var(--color-lighter-black);
  padding: 0.35em 0.7em;
  border-radius: 8px;
  margin-right: 1em;
  animation: animate-gradient-background 4s ease infinite;
}
@keyframes animate-gradient-background {
  0% {
    background-position: 0, 0;
  }
  25% {
    background-position: 20%, 20%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 20%, 20%;
  }
  100% {
    background-position: 0, 0;
  }
}
ul#tags li:hover {
  background: var(--color-light-gold);
  cursor: pointer;
  animation: unset;
}

#kickstart-btn-like-container {
  width: 100px;
  height: 30px;
  position: relative;
}
#kickstart-btn-like-container .button-like--med {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-light-smoke-white);
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}
#kickstart-btn-like-container .button-like--med:hover {
  cursor: pointer;
  top: 5px;
  left: -5px;
}
#kickstart-btn-like-container::before {
  content: "";
  width: 100px;
  height: 30px;
  background-color: var(--color-dark-black);
  position: absolute;
  z-index: 0;
  left: -5px;
  top: 5px;
}

.keyboard-btn-like-container--med {
  width: 100px;
  height: 30px;
  position: relative;
}
.keyboard-btn-like-container--med.scheme-violet-smoke-white .button--med {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-light-smoke-white);
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}
.keyboard-btn-like-container--med.scheme-violet-smoke-white .button--med:hover {
  cursor: pointer;
  top: 5px;
  left: -5px;
}
.keyboard-btn-like-container--med.scheme-violet-smoke-white::before {
  content: "";
  width: 100px;
  height: 30px;
  background-color: var(--color-violet-last);
  position: absolute;
  z-index: 0;
  left: -5px;
  top: 5px;
}
.keyboard-btn-like-container--med.scheme-black-hole-smoke-white .button--med {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-light-smoke-white);
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}
.keyboard-btn-like-container--med.scheme-black-hole-smoke-white .button--med:hover {
  cursor: pointer;
  top: 5px;
  left: -5px;
}
.keyboard-btn-like-container--med.scheme-black-hole-smoke-white::before {
  content: "";
  width: 100px;
  height: 30px;
  background-color: var(--color-dark-black);
  position: absolute;
  z-index: 0;
  left: -5px;
  top: 5px;
}

.keyboard-btn-like-container--huge {
  width: 200px;
  height: 30px;
  position: relative;
}
.keyboard-btn-like-container--huge.scheme-violet-smoke-white .button--huge {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-light-smoke-white);
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}
.keyboard-btn-like-container--huge.scheme-violet-smoke-white .button--huge:hover {
  cursor: pointer;
  top: 5px;
  left: -5px;
}
.keyboard-btn-like-container--huge.scheme-violet-smoke-white::before {
  content: "";
  width: 200px;
  height: 30px;
  background-color: var(--color-violet-last);
  position: absolute;
  z-index: 0;
  left: -5px;
  top: 5px;
}
.keyboard-btn-like-container--huge.scheme-black-hole-smoke-white .button--med {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-light-smoke-white);
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: top 0.25s ease-out, left 0.25s ease-out;
}
.keyboard-btn-like-container--huge.scheme-black-hole-smoke-white .button--med:hover {
  cursor: pointer;
  top: 5px;
  left: -5px;
}
.keyboard-btn-like-container--huge.scheme-black-hole-smoke-white::before {
  content: "";
  width: 200px;
  height: 30px;
  background-color: var(--color-dark-black);
  position: absolute;
  z-index: 0;
  left: -5px;
  top: 5px;
}

.btn {
  display: inline-block;
}

.link--unlink {
  text-decoration: none;
  color: var(--color-dark-black);
}